ryan
dataset
blender*

*.sh
*.npz

/xingjian/Compositional*
/xingjian/diffusers
/xingjian/home2
/xingjian/miniconda3
/xingjian/reduce*


.vscode

*wandb*
*__pycache__*
*slurm-*.out*
*ryan-clevr*

results