ryan
dataset
blender*

*.sh
*.npzcd
*.pth
*.pkl
*.npz
images

/xingjian/Compositional*
/xingjian/diffusers
/xingjian/home2
/xingjian/miniconda3
/xingjian/reduce*
/xingjian/GLIGEN
/xingjian/datasets
/xingjian/denoising-diffusion-pytorch


.vscode

*wandb*
*__pycache__*
*slurm-*.out
*ryan-clevr*

*results*
*old_model_pts*
*weights*